div {
  box-sizing: border-box;
}

.text {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: sans-serif;
}

.control-button-text {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14em;
}

.text-large {
  font-size: 6em;
}

.text-regular {
  font-size: 4em;
}

.text-elapsed-time {
  font-size: 4em;
}

.text-delta-time {
  font-size: 8em;
}

.upside-down {
  transform:rotate(-180deg);
}

.player-box {
  height: 30%;
  background: #000000;
  padding: 1em;
}

.waiting-player {
  border-radius: 4em;
  height: 100%;
  background: #515151;
}

.active-player {
  border-radius: 4em;
  height: 100%;
  background: #ef912d;
}

.lost-player {
  border-radius: 4em;
  height: 100%;
  background: red;
}

.won-player {
  border-radius: 4em;
  height: 100%;
  background: green;
}

.ahead-player {
  height: 10%;
  background: green;
}

.equal-player {
  height: 10%;
  background: black;
}

.behind-player {
  height: 10%;
  background: red;
}

.control-area {
  height: 20%;
  background: black;
}

.restart-container {
  float: left;
  height: 100%;
  width: 50%;
  padding: 2em;
}

.pause-container {
  float: right;
  height: 100%;
  width: 50%;
  padding: 2em;
}

#restart-button {
  border-radius: 2em;
  height: 100%;
  background: #222222;
}

#pause-button {
  border-radius: 2em;
  height: 100%;
  background: #222222;
}

.menu-title {
  height: 20%;
  background: grey;
  color: white;
  padding: 1em;
}

.button-container {
  height: 80%;
}

.button {
  height: 20%;
  background: black;
  color: white;
}

.visible {
  height: 100%;
  display: block;
}

.hidden {
  height: 0%;
  display: none;
}

html, body {
  background: black;
  height: 100%;
  padding: 0;
  margin: 0;
}
