div {
  box-sizing: border-box;
}

.text {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: sans-serif;
}

.text-large {
  font-size: 6em;
}

.text-regular {
  font-size: 4em;
}

.text-elapsed-time {
  font-size: 4em;
}

.text-delta-time {
  font-size: 8em;
}

.upside-down {
  transform:rotate(-180deg);
}

.player-box {
  height: 30%;
  background: #000000;
  padding: 1em;
}

.waiting-player {
  border-radius: 4em;
  height: 100%;
  background: #515151;
}

.active-player {
  border-radius: 4em;
  height: 100%;
  background: #ef912d;
}

.lost-player {
  height: 100%;
  background: red;
}

.won-player {
  height: 100%;
  background: green;
}

.ahead-player {
  height: 10%;
  background: green;
}

.equal-player {
  height: 10%;
  background: black;
}

.behind-player {
  height: 10%;
  background: red;
}

.differential {
  height: 20%;
  background: black;
  color: white;
}

.differential-game-over {
  height: 20%;
  background: red;
  color: white;
}

.menu-title {
  height: 20%;
  background: grey;
  color: white;
  padding: 1em;
}

.button-container {
  height: 80%;
}

.button {
  height: 20%;
  background: black;
  color: white;
}

.visible {
  height: 100%;
  display: block;
}

.hidden {
  height: 0%;
  display: none;
}

html, body {
  background: black;
  height: 100%;
  padding: 0;
  margin: 0;
}
